.App {
  background-color: #5876a6;
  background-size: cover;
  color: #c8ced9;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  align-self: center;
}

button {
  font-size: 2rem;
  border-radius: 1.5rem;
  border: .5rem solid #c8ced9;
  background-color: inherit;
  color: inherit;
  padding: 1rem;
  margin: .5rem;
}
button:hover {
  transform: translateY(-.5rem);
}
